@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700|Poppins:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

body a:hover {
  text-decoration: none;
  color: unset;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #ffe3fe;
}
.container {
  width: 100%;

  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactme {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactOverlay {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  /* background-color: #440a67; */
}
.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  /* justify-content: space-between; */
  background-color: #440a67;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
form button {
  width: 190px;
  height: 55px;
  border: 0;
  border-radius: 5px;
  background-color: #93329e;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: #ffe3fe;
  font-weight: bold;
  margin-top: 2%;
  text-align: center;
}
form button:hover {
  background-color: unset;
  border: 2px solid #ffe3fe;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: #ffe3fe;
  background-color: #440a67;
}
.formWord {
  width: 40%;
  padding: 4%;
  background-color: #440a67;
}
.formWord h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10%;
}
.formWord h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10%;
  text-align: center;
}
.formWord p {
  font-size: 20px;
  margin: auto;
}
.formWord input {
  width: 100%;
  height: 50px;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  padding-left: 3%;
  color: #440a67;
  background: #ffe3fe;
}
.formWord textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  height: 80px;
  color: #440a67;
  background: #ffe3fe;
  padding-left: 3%;
}
/* input[type="text"] {
  order: 1;
}
input[type="email"] {
  order: 2;
} */
