.transcriptions {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFE3FE;
}
.hero2 {
    width: 100%;
    height: 100%;
}

.tbg {
    width: 100%;
    opacity: 0.1;
    height: 400px;
}

.hero2-text {
    position: absolute;
    top: 150px;
    margin-left: 15%;
    margin-right: 15%;
}

.ht2 {
    font-weight: bold;
    font-size: 70px;
    color: #440A67;
}

.btn {
    background-color: #93329E;
    color: #FFE3FE;
}